{% extends "home.html.twig" %}

{% block CAROUSEL %}
{% endblock %}


{% block CATEGORY %}
{% endblock %}


{% block BRANDS %}
{% endblock %}


{% block LEFTSIDE %}
{% endblock %}

{% block MAINCONTENT %}

    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prod in cartDetails %}
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="images/cart/one.png" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{ prod.brand_name }} {{ prod.name }} {{ prod.furniture_type }}</a></h4>
                            <p>Web ID: {{ prod.furniture_id }}</p>
                        </td>
                        <td class="cart_price">
                            <p>${{ prod.cost }}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href="{{ currentPage }}?func=1&id={{ prod.furniture_id }}"> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="{{ prod.count }}" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href="{{ currentPage }}?func=2&id={{ prod.furniture_id }}"> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">{{ prod.cost * prod.count }}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="{{ currentPage }}?func=3&id={{ prod.furniture_id }}">
                                <i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>What would you like to do next?</h3>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
            </div>
            <div class="row">
                <div class="col-sm-6 pull-right">
                    <div class="total_area">
                        <ul>
                            <li>Cart Sub Total <span>${{ subTotal }}.00</span></li>
                            <li>Eco Tax <span>$2</span></li>
                            <li>Shipping Cost <span>Free</span></li>
                            <li>Total <span>${{ subTotal + 2.00}}</span></li>
                        </ul>
                        <a class="btn btn-default update" href="">Update</a>
                        <a class="btn btn-default check_out" href="checkout.php">Check Out</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#do_action-->
{% endblock %}

