{% extends "home.html.twig" %}

{% block CAROUSEL %}
{% endblock %}


{% block CATEGORY %}
{% endblock %}


{% block BRANDS %}
{% endblock %}


{% block LEFTSIDE %}
{% endblock %}

{% block MAINCONTENT %}

    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Check out</li>
                </ol>
            </div><!--/breadcrums-->

            <div class="step-one">
                <h2 class="heading">Step1</h2>
            </div>
            <div class="checkout-options">
                <h3>New User</h3>
                <p>Checkout options</p>
                <ul class="nav">
                    <li>
                        <label><input type="checkbox"> Register Account</label>
                    </li>
                    <li>
                        <label><input type="checkbox"> Guest Checkout</label>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-times"></i>Cancel</a>
                    </li>
                </ul>
            </div><!--/checkout-options-->

            <div class="register-req">
                <p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
            </div><!--/register-req-->

            <div class="shopper-informations">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="shopper-info">
                            <p>Shopper Information</p>
                            <form>
                                <input type="text" placeholder="Display Name" value="{{ fname }} {{ lname }}">
                                <input type="text" placeholder="User Name" value="{{ username }}">
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-5 clearfix">
                        <div class="bill-to">
                            <p>Bill To</p>
                            <div class="form-one">
                                <form action="checkout.php" method="post">
                                    <input type="text" placeholder="Company Name" name="com_name">
                                    <input type="text" placeholder="Email*" name="rec_email" required>
                                    <input type="text" placeholder="First Name *" name="rec_firstname" required>
                                    <input type="text" placeholder="Last Name *" name="rec_lastname" required>
                                    <input type="text" placeholder="Phone *" name="rec_phone" required>
                                    <input type="text" placeholder="Address 1 *" name="rec_address1" required>
                                    <input type="text" placeholder="Address 2" name="rec_address2">
                                    <select name="rec_country">
                                        <option>-- Country --</option>
                                        <option>United States</option>
                                        <option>Ghana</option>
                                        <option>UK</option>
                                        <option>India</option>
                                        <option>Canada</option>
                                        <option>Dubai</option>
                                    </select>
                                    <button type="submit" class="btn btn-primary">Continue</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="order-message">
                            <p>Shipping Order</p>
                            <textarea name="message"  placeholder="Notes about your order, Special Notes for Delivery" rows="16"></textarea>
                            <label><input type="checkbox"> Shipping to bill address</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-payment">
                <h2>Review & Payment</h2>
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prod in cartDetails %}
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="images/cart/one.png" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{ prod.brand_name }} {{ prod.name }} {{ prod.furniture_type }}</a></h4>
                            <p>Web ID: {{ prod.furniture_id }}</p>
                        </td>
                        <td class="cart_price">
                            <p>${{ prod.cost }}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href="{{ currentPage }}?func=1&id={{ prod.furniture_id }}"> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="{{ prod.count }}" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href="{{ currentPage }}?func=2&id={{ prod.furniture_id }}"> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">${{ prod.itemTotal }}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="{{ currentPage }}?func=3&id={{ prod.furniture_id }}"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2">
                            <table class="table table-condensed total-result">
                                <tr>
                                    <td>Cart Sub Total</td>
                                    <td>${{ subTotal }}.00</td>
                                </tr>
                                <tr>
                                    <td>Discount</td>
                                    <td>{{ discount }}%</td>
                                </tr>
                                <tr class="shipping-cost">
                                    <td>Shipping Cost</td>
                                    <td>Free</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td><span>${{ overallTotal }}</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->
{% endblock %}

