<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    {% if theme is defined %}

        {% if theme == 1 %}
        <link href="css/theme1.css" rel="stylesheet">
        {% elseif theme == 2 %}
            <link href="css/theme2.css" rel="stylesheet">
        {% elseif theme == 3 %}
            <link href="css/main.css" rel="stylesheet">
        {% elseif theme == 4 %}
            <link href="css/theme3.css" rel="stylesheet">
        {% elseif theme == 5 %}
            <link href="css/theme4.css" rel="stylesheet">
        {% else %}
            <link href="css/main.css" rel="stylesheet">
        {% endif %}
    {% else %}
        <link href="css/main.css" rel="stylesheet">
    {% endif %}

    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    {% block CONTACTINFO %}
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                        </ul>
                    </div>
                    {% endblock %}
                </div>
                <div class="col-sm-6">
                    {% block SOCIALICONS %}
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    {% block LOGO %}
                    <div class="logo pull-left">
                        <a href="home.php"><img style="width: 96px; height: auto" src="images/logo.png" alt="" /></a>
                    </div>
                    {% endblock %}
                    <div class="btn-group pull-right">
                        {% block COUNTRY %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                USA
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canada</a></li>
                                <li><a href="#">UK</a></li>
                            </ul>
                        </div>
                        {% endblock %}

                        {% block CURRENCY %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                DOLLAR
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canadian Dollar</a></li>
                                <li><a href="#">Pound</a></li>
                            </ul>
                        </div>
                        {% endblock %}
                    </div>
                </div>
                <div class="col-sm-8">
                    {% block SHOPMENU %}
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="account.php"><i class="fa fa-user"></i> Account</a></li>
                            <li><a href="checkout.php"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                            <li><a href="cart.php"><i class="fa fa-shopping-cart"></i> Cart ( {{ nItems }} )</a></li>
                            <li><a href="login.php"><i class="fa fa-lock"></i> Login</a></li>
                        </ul>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                {% block MAINMENU %}
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="#" class="active">Home</a></li>
                            <li><a href="products.php">Products</a></li>
                        </ul>
                    </div>
                </div>
                {% endblock %}

                {% block SEARCH %}
                <div class="col-sm-12">
                    <div class="search_box pull-right">
                        <form action="products.php" method="post">
                            <input type="hidden" name="vt" value="4">
                            <input type="hidden" name="cmd" value="4">
                            <input type="text" name="st"/>
                            <button class="btn btn-default" type="submit">Search</button>
                        </form>
                    </div>
                </div>

                    <div class="col-sm-12" style="padding-top: 10px;">
                        <div class="search_box pull-right">
                            <form action="products.php" method="post">
                                <input type="hidden" name="vt" value="5">
                                <input type="hidden" name="cmd" value="5">
                                <input type="text" name="stband" placeholder="Brand Name"/>
                                <input type="text" name="stname" placeholder="Name"/>
                                <input type="text" name="stcat" placeholder="Category"/>
                                <button class="btn btn-default" type="submit">Advanced Search</button>
                            </form>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% block CAROUSEL %}
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>EXCLUSIVE</span>-FURNITURE</h1>
                                <h2>Exquisite Furniture</h2>
                                <p>Handmade unique furniture from around the world. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/banner.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>EXCLUSIVE</span>-FURNITURE</h1>
                                <h2>Design at its best</h2>
                                <p>Live like a royal wherever you are. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/banner1.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>EXCLUSIVE</span>-FURNITURE</h1>
                                <h2>Furniture for anywhere</h2>
                                <p>Transform your environment into a peaceful haven of joy, peace and serenity. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/banner2.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            {% block LEFTSIDE %}
            <div class="col-sm-3">

                <div class="left-sidebar">
                    {% block CATEGORY %}
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->

                        <div class="panel panel-default">
                            {% for x in categories %}
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="products.php?cmd=1&cat={{ x.category_id }}&vt=1">{{ x.category }}</a></h4>
                            </div>
                            {% endfor %}
                        </div>
                    </div><!--/category-products-->
                    {% endblock %}

                    {% block BRANDS %}
                    <div class="brands_products"><!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                {% for x in brands %}
                                <li><a href="products.php?cmd=2&brand={{ x.brand_id }}&vt=2"> {{ x.brand_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div><!--/brands_products-->
                    {% endblock %}

                    {#{% block PRICERANGE %}#}
                    {#<div class="price-range"><!--price-range-->#}
                        {#<h2>Price Range</h2>#}
                        {#<div class="well text-center">#}
                            {#<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />#}
                            {#<b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>#}
                        {#</div>#}
                    {#</div><!--/price-range-->#}
                    {#{% endblock %}#}

                    {% block SHIPPING %}
                    <div class="shipping text-center"><!--shipping-->
                        <img style="width: 230px; height: auto" src="images/banner4.png" alt="" />
                    </div><!--/shipping-->
                    {% endblock %}
                </div>
            </div>
            {% endblock %}

            {% block WARNING %}
            {% endblock %}

            {% block MAINCONTENT %}
            <div class="col-sm-9 padding-right">
                {% block FEATUREITEMS %}
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    {% for x in furniture %}
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ x.image }}" alt="" />
                                    <h2>${{ x.cost }}.00</h2>
                                    <p>{{ x.brand_name }} {{ x.name }} {{ x.furniture_type }}</p>
                                    <a href="{{ currentPage }}?func=1&id={{ x.furniture_id }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                            <div class="choose">
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="product_details.php?cmd=1&fid={{ x.furniture_id }}"><i class="fa fa-eye"></i>View Details</a></li>
                            </ul>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div><!--features_items-->
                {% endblock %}

                {% block PAGINATION %}
                {% endblock %}

                {% block CATEGORYTAB %}
                <div class="category-tab"><!--category-tab-->

                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            {% for x in categories %}
                                {% if loop.first %}
                                <li class="active"><a href="#{{ x.category_id }}" data-toggle="tab">{{ x.category }}</a></li>
                                {% else %}
                                <li><a href="#{{ x.category_id }}" data-toggle="tab">{{ x.category }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content">
                        {% for x in catTab %}
                            {% if loop.first %}
                            <div class="tab-pane fade active in" id="{{ x }}" >
                                {% for j in x %}
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{{ j.image }}" alt="" />
                                                <h2>${{ j.cost }}.00</h2>
                                                <p>{{ j.brand_name }} {{ j.name }} {{ j.furniture_type }}</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                        </div>
                                        <div class="choose">
                                            <ul class="nav nav-pills nav-justified">
                                                <li><a href="product_details.php?cmd=1&fid={{ j.furniture_id }}"><i class="fa fa-eye"></i>View Details</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}

                            <div class="tab-pane fade in" id="{{ x }}" >

                                {% for j in x %}
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="images/home/gallery1.jpg" alt="" />
                                                    <h2>${{ j.cost }}.00</h2>
                                                    <p>{{ j.brand_name }} {{ j.name }} {{ j.furniture_type }}</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div><!--/category-tab-->
                {% endblock %}

            </div>
            {% endblock %}
        </div>
    </div>
</section>

<footer id="footer"><!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <img style="width: 96px; height: auto" src="images/logo.png" alt="" />
                        <p>Exquisite Furniture From around the world. </p>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="address pull-right">
                        <img src="images/home/map.png" alt="" />
                        <p>505 Berekuso Beach, VA(Virginia)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Service</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Online Help</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Change Location</a></li>
                            <li><a href="#">FAQ’s</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Quock Shop</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">T-Shirt</a></li>
                            <li><a href="#">Mens</a></li>
                            <li><a href="#">Womens</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Shoes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Policies</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privecy Policy</a></li>
                            <li><a href="#">Refund Policy</a></li>
                            <li><a href="#">Billing System</a></li>
                            <li><a href="#">Ticket System</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>About Shopper</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Company Information</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Store Location</a></li>
                            <li><a href="#">Affillate Program</a></li>
                            <li><a href="#">Copyright</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>About Shopper</h2>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="Your email address" />
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            <p>Get the most recent updates from <br />our site and be updated your self...</p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->



<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/price-range.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
</body>
</html>